.app-grid {
  display: grid;
  grid-template-columns: 200px 200px 1fr;
  height: calc(100vh - 56px);
  overflow: hidden;
}

.sidebar {
  overflow-y: auto;
}

#messageList {
  overflow-y: auto;
  max-height: 500px;
  display: flex;
  flex-direction: column-reverse; /* Ustawia wiadomości od dołu */
}
